* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 3rem 0.8fr 2fr 1rem ;
  font-family: 'Happy Monkey', cursive;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-link1 {
  padding-left:130px
}

.logo img{
  width: 120px;
height: 80px;
left: 21px;
top: 12px;
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}

@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 0.7fr 2fr 1rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }

}

@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 3fr 6.5rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 10rem;
  }

  .logo img{
    width: 100px;
  height: 60px;
  left: 21px;
  top: 12px;
  }
  .mobile-menu-link {
     background-color:lightcyan;
    display: grid;
    height: 100%;
    align-items: top;
    width: 50%;
    text-transform: capitalize;
    position: fixed;
    margin-top: 10rem; 

  
  }
 

  .mobile-menu-link ul {
    height:100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
   
  }
  .mobile-menu-link ul li{
    margin-left: 40%;
  }
   .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    padding-top: 3rem;
  }
  .menu-link1 {
    padding-left:0px
  }
}

@media (max-width: 377px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 3fr 6.5rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 10rem;
  }
  .logo img{
    width: 80px;
  height: 60px;
  left: 21px;
  top: 12px;
  }

  .mobile-menu-link {
    background-color:lightcyan;
    display: grid;
    height: 100%;
   
    align-items: top;
    width: 50%;
    text-transform: capitalize;
   
    position: fixed;
    margin-top: 10rem;
  
  }

  .mobile-menu-link ul {
    height:100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
   
  }
  .mobile-menu-link ul li{
    margin-left: 30%;
  }
   .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    padding-top: 3rem;
  }
  .menu-link1 {
    padding-left:0px
  }
}
