* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_container {
  width: 100vw;
  min-height: 40px;
  height: 10vh;
  display: grid;
  grid-template-columns: 3rem 0.8fr 2fr 1rem;
  font-family: "Happy Monkey", cursive;
  transition: all ease 1;

  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  font-family: "Happy Monkey", cursive;
  font-size: 18px;

  padding: 10px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
}

.logo {
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
}

.logo img {
  height: 9vh;
  min-height: 40px;
  width: auto;
}

.navItem1 {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

.navItem2 {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.active {
  color: black;
}

.social_media {
  display: none;
  position: fixed;
  right: 2vw;
  top: 2vh;
}

@media (max-width: 998px) {
  .main_container {
    font-size: 15px;
  }
}

@media (max-width: 850px) {
  .main_container {
    padding: 0;
    width: 0;
    height: 0;
    flex-direction: column;
    font-size: 18px;
    text-transform: capitalize;
    background-color: black;
    opacity: 0;
  }

  .navItem1 a,
  .navItem2 a {
    color: transparent;
  }
  
  .main_container img {
    width: 0;
    height: 0;
  }

  .sidebar {
    height: 100vh;
    width: 60vw;
    opacity: 1;
    z-index: 100;
  }

  .sidebar a {
    color: #b3b3b3;
  }

  .sidebar img {
    height: 9vh;
    min-height: 40px;
    width: auto;
  }

  .logo {
    height: 10%;
  }

  .navItem1,
  .navItem2 {
    flex-direction: column;
  }

  .navItem1 {
    height: 40%;
    justify-self: unset;
    margin-bottom: 60%;
  }

  .navItem2 {
    height: 18%;
    margin-bottom: 10px;
    justify-content: space-evenly;
  }

  .social_media {
    display: flex;
    z-index: 100;
  }
}
