.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* SOCIAL STUFF */
  .social_container {

    background: transparent;
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 99;
  }
  .icn{
    height: 10rem;
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.facebook {
    color: black;
  }
  a.twitter {
    color: black;
  }
  a.instagram {
    color: black;
  }
  